  <%-include('layout/header')%>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        flex-direction: column;
      "
    >
      <h1>Login to your account</h1>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>
    </div>
    <%-include('layout/footer')%>