  <%-include('layout/header')%>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        flex-direction: column;
      "
    >
      <h1>Login to your account</h1>
      <%-include('layout/form', { action: '/login', buttonText: 'Login' })%>
       <p>Don't have an account? <a href="/register" style="color: rebeccapurple; text-decoration: none;">Register here</a>.</p>
    </div>
    <%-include('layout/footer')%>