 <%-include('layout/header')%>
    <div style="display: flex; justify-content: center; align-items: center; height: 75vh; flex-direction: column;">
   <h1>Welcome to the profile page</h1>
 </div>
    <%-include('layout/footer')%>