body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #f8f9fa;
}

ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

h1 {
  color: red;
}
